.tournament {
  &--data {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    display: flex;
    flex-direction: column;
    &-list {
      cursor: pointer;
      margin: 5px 0;
        >span {
          color: red;
          &.same {
            color: green;
          }
        }
        &:hover {
          font-weight: bold;
        }
    }
  }
}

